$navbar-height: 50px;
$namecard-height: 600px;
$namecard-primary-color: #005D4D;
$namecard-secondary-color: #2E6B73;
$namecard-img-border: #39766D;
$icon-bottom: 30px;
$font-family: "Open Sans", sans-serif;

body {
	font-family: $font-family;
		
	#namecard {
		position: fixed; 
		top: 0; 
		left: 0; 
		min-width: 100%;
		min-height: 100%;

		background: $namecard-primary-color; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient($namecard-primary-color, $namecard-secondary-color); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($namecard-primary-color, $namecard-secondary-color); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($namecard-primary-color, $namecard-secondary-color); /* For Firefox 3.6 to 15 */
		background: linear-gradient($namecard-primary-color, $namecard-secondary-color); /* Standard syntax */
		
		.personalInfo {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -$icon-bottom;
			transform: translate(-50%, -50%);
			text-align: center;
			-webkit-animation-name: fadeIn; /* Chrome, Safari, Opera */
			-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
			animation-name: fadeIn;
			animation-duration: 2s;

		}
		
		img {
			height: 200px;
			border: 3px solid $namecard-img-border;
			border-radius: 50%;
		}

		.nameDiv {
			margin-top: 40px;

			.fullName {
				color: white;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 35px;
				letter-spacing: 4px;
				padding: 10px;
				/* border-top: 3px solid;
				border-bottom: 3px solid; */
			}
		}

		.downloadBtn {
			margin-top: 30px;
			color: $namecard-primary-color;
			font-size: 24px;
			font-weight: 700;
			padding: 10px 18px 10px 18px;
			background-color: white;
			background-repeat:no-repeat;
			border: 2px solid white;
			border-radius: 5px;
			transition: background-color 0.3s ease-in,
						color 0.3s ease-in;
		}

		.downloadBtn:hover {
			color: white;
			background-color: Transparent;
			
		}
		
		.contactInfo {
			position:fixed;
			bottom:0px;
			width:100%; 
			text-align: center;
			margin-bottom: $icon-bottom;
			-webkit-animation-name: slideUp; /* Chrome, Safari, Opera */
			-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
			animation-name: slideUp;
			animation-duration: 1s;


			i {
				color: white;
				font-size: 30px;
				margin: 0 15px 0 15px;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-ms-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
		
			i:hover {
				//color: rgba(255, 255, 255, 0.6);
				-webkit-transform: scale(1.6);
				-moz-transform: scale(1.6);
				-ms-transform: scale(1.6);
				transform: scale(1.6);
			}

			.email {
				font-size: 27px;
			}

			.github {
				font-size: 32px;
			}
		}
		
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slideUp {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px; 
		opacity:1;
	}
}

/* Standard syntax */
@keyframes slideUp {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px; 
		opacity:1;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity:1;
	}
}

/* Standard syntax */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity:1;
	}
}